body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Inter', sans-serif;
    display: flex;
    margin-top: 7em;
    justify-content: space-between;
    padding: 20px;
}

.sidebar {
    width: 20%;
    background-color: #ddd;
    border-radius: 1em;
    padding: 10px;
    height: 30em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heladera-item {
    background-color: #8B0000;
    border-radius: 2em;
    height: 5em;
    margin-bottom: 1.5em;
}


.content {
    width: 50%;
    background-color: #f4f4f4;
    border-radius: 1em;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    display: flex;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: calc(100% - 40px);
    padding: 10px;
    border-radius: 2em;
    border: 1px solid #ccc;
    margin-right: 10px;
    float: left;
}

.form-group button {
    width: 30px;
    height: 30px;
    border-radius: 4em;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    margin-top: 0.5em;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    width: 30%;
    padding: 10px;
    border-radius: 1em;
    border: none;
    background-color: #d9d9d9;
    cursor: pointer;
    font-weight: bold;
}

.map {
    width: 25%;
    background-color: #eee;
    border-radius: 2em;
    overflow: hidden;
}

.map img {
    width: 100%;
    height: auto;
}


.heladera-card {
    background-color: #8B0000;
    border-radius: 1em;
    height: 100px;
    margin-bottom: 15px;
}

@media (max-width: 1024px) {
    .container h3 {
        font-size: 1.4em;
    }
}

/* Media query para pantallas aún más pequeñas */
@media (max-width: 480px) {
    .container  h3 {
        font-size: 0.8em;
    }
}


.container h3 {
    margin-bottom: 2em;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu.show {
    display: block;
}