:root {
    --font-family-inter: "Inter", Helvetica, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
    background-image: url('../assets/fondo3.svg');
    background-position: top right;
    background-repeat: no-repeat; 
}
.main-title {
    background-color: transparent;
    color: black;
    font-family: var(--font-family-inter);
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    height: auto;
    text-align: center;
    margin-bottom: 100px;
}

.container {
    display: flex;
    gap: 30px;
}

.section {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.title {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px; 
    position: relative; 
    margin-top: -10px; 
}

@media (min-width: 768px) and (max-width: 1023px) {
    .title {
        font-size: 22px; 
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 32px; 
    }
}

.list-item, .preview {
    background-color: #722626;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.preview {
    width: 300px;
    height: 300px;
}

.button {
    background-color: #FA6900;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.previsualizacion, .lorem-ipsum {
    position: relative;
    font-size: 22px;
}

.previsualizacion {
    top: 0px; 
    left: 0%;
    transform: translateY(-200%);
}

.lorem-ipsum {
    bottom: 0px; 
    left: 0%;
    transform: translateY(-200%);
    
}