body {
    background-color: #FFE4B5;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
    font-weight: bold;
}

.form-control {
    border-radius: 20px;
}

.btn-primary {
    background-color: #FF6600;
    border: none;
    border-radius: 20px;
    padding: 10px 0;
}

.btn-primary:hover {
    background-color: #E65C00;
}

a {
    color: #FF6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FF6600;
}
.nav-espaciado {
    gap: 1.5rem;
}



.nav-link {
    transition: color 0.3s ease;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.nav-link:hover {
    color: #007bff;
}

button {
    padding: 1vh 2vh;
    font-size: 2vh;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5vh;
}

button:hover {
    transition: transform 0.3s ease;
    background-color: #FF4500;
    transform: scale(1.05);
}

