{{#partial "contenido"}}
    <div class="position-absolute top-0 start-0 w-100 h-100" style="background-image: url('/img/error404.png'); background-size: contain; background-repeat: no-repeat; background-position: center;">
    </div>
{{/partial}}
{{> templates/base}}