{{#partial "contenido"}}
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: calc(100vh - 100px);">
        <img src="/img/error404.png" alt="Error 404" class="img-fluid" style="max-height: 100%; max-width: 100%; height: auto; width: auto;">
    </div>
{{/partial}}
{{> templates/base}}