<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- Referencia al archivo CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://kit.fontawesome.com/115c7ea5e6.js" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ONG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">Donaciones</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../templates/donaciones/dinero.hbs">Donar Dinero</a></li>
                        <li><a class="dropdown-item" href="../html/encargarseDeHeladera.html">Encargarse de Heladera</a></li>
                        <li><a class="dropdown-item" href="../html/donacionViandas.html">Donar Viandas</a></li>
                        <li><a class="dropdown-item" href="../html/distribuirViandas.html">Distribuir Viandas</a></li>
                        <li><a class="dropdown-item" href="../html/registroVulnerable.html">Registrar Personas Vulnerables</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="../html/misHeladeras.html">Mis Heladeras</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="canjeProductos">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../html/heladeras.html">Ver Heladeras</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">Herramientas</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../html/reportarFallaTecnica.html">Reportar Incidente</a></li>
                        <li><a class="dropdown-item" href="../html/cargaCSV.html">Cargar Archivo CSV</a></li>
                        <li><a class="dropdown-item" href="../html/visualizacionReportes.html">Ver Reportes PDF</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">Mi Perfil</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/inicioSesion">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../crearCuenta">Registrarse</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<hr class="my-3 border-0">

<div class="container mt-1">
    <!-- Contenido propio de cada página -->
    {{#block "contenido"}}
    {{/block}}
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/115c7ea5e6.js" crossorigin="anonymous"></script>


{{#block "agregarScript"}}
{{/block}}

</body>
</html>

