{{#partial "contenido"}}
        <div class="container">
            <hr class="my-3 border-0">
            <div class="row">
                <figure class="col-md-4 figure">
                    <img class="figure-img img-fluid rounded mx-auto d-none d-md-block"
                         src="/public/img/colaborador_humano.svg" alt="Imagen colaborador">
                </figure>
                <div class="col-md-7">
                    <h1 class="h1">Registrar Colaborador Humano</h1>
                    <hr class="border-1">

                     Formulario de Registro de colaborador humano
                <form class="row g-3 needs-validation" method="POST" action="/registrarColaborador" novalidate>
                    {{#each cuestionario.preguntas}}

                        <div class="col-lg-4 col-md-12">
                            <label class="form-label" for="validationCustom01" name={{this.id}}>{{this.nombre}}</label>
                            {{#if this.tipoPregunta "MULITPLE"}}
                                {{#each this.opciones}}
                                    <input class="form-check
                                <select class="form-select" id= name="modeloHeladera" required>
                                    <option value="" disabled selected>Seleccione un Modelo</option>
                                    {{#each rubros}}
                                        <option value="{{this.id}}">{{this.nombreModelo}}</option>
                                    {{/each}}
                                </select>
                                {{/each}}
                            {{/if}}
                            {{#if this.tipoPregunta "RESPUESTAUNICA"}}
                                <input class="form-control" type="text" id="validationCustom01" name="nombre" required>
                            {{/if}}
                        </div>
                    {{/each}}
                    <hr class="my-3 border-0">
                    <div class="col-12 text-end">
                        <button class="btn btn-outline-primary" type="submit">¡Registrarse!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/partial}}
{{#partial "agregarScript"}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/ubicacion.js"></script>
{{/partial}}

{{> templates/base}}